body {
  margin: -16px 0 0;
}

.bold {
  font-weight: bold;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('./assets/header_banner-keyboard.jpg')
    no-repeat center;
  background-size: cover;
  min-height: 30vh;

  h1, h2 {
    color: white;
    text-align: center;
    /* padding-top: 10vh; */
    font-family: 'Roboto Slab', serif;
  }

  & ul {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    padding: 24px 16px 48px;

    & li {
      list-style: none;
      font-size: xx-large;
      padding: 0 24px 0;
      
      & a {
        text-decoration: none;
        color: white;

        &:hover {
          border-bottom: 2px solid purple;
        }
      }
    }
  }
}

.about-section {
  padding: 16px;

  & .profile-picture-container {
    width: 30%;
    float: left;
    display: flex;
    justify-content: center;
    padding: 24px 16px 16px 0;
    
    & img {
      width: 60%;
      max-height: 350px;
      max-width: 262.5px;
      border-radius: 50%;
    }
  }
  /* TODO: @media query for smaller screens */
}

.skills-section {
  padding: 48px;
  background-color: lightgray;
}